
#menuItems{ 
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: lightblue; 
}

#menuItems button{
    background-color: lightpink;
    height: 50px;
}
#menuItems button:hover{
    background-color: lightgray;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

li a{
   display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none; 
  background-color: palegoldenrod;
}

#recentArticles:hover + #jumpMenu{
    display: block;
}

#jumpMenu a:hover{
    background-color: darkgoldenrod;
    color: white;
}

#jumpMenu{
    display: none;
}

#jumpMenu:hover{
    display: block;
}


header{
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    height: 80px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;   
    align-items: center;   
    justify-content: center;
    text-align: center;
    z-index:1000;
}

h1{
    margin-left: 15%;
    margin-top: 80px;
    text-align: center;
}

#container {
    margin-left: 15%;
    padding-left: 4rem;
    width: 85%;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
}

#container article{
    width: 300px;
    transition: width 2s;
  }

#container article:hover{
    width: 360px;
}
[id^=a] p:first-of-type::first-letter{ /* note to self, this selects only when id starts with a, also only selects the first p and first letter of that p */
    font-family: "Times New Roman";
    font-size: 39px;
}

[id^=a] p:last-of-type a::after{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    background-image: url("arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
} 

[id^=a] h2, [id^=a] p:first-of-type{
    opacity:0.3;
    
}

[id^=a]:hover h2, [id^=a]:hover p:first-of-type{
    opacity:1;  
}  

  #thanks{
    position: fixed;
    bottom: 0;
    right: 0;

    width: 150px;
    height: 80px;

    background-color: lightcyan;
    font-size: 16px;

    margin: 0;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

  footer{
    margin-left: 15%;
    text-align: center;

  }

