#jumpMenu{
    background-color: pink;
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
    text-align: center;
    font-size:2vw;
    
}
#jumpMenu a{
    line-height: 1.6;
}

header{
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    height: 80px;
    background-color: peachpuff;

    display: flex;
    flex-direction: column;   
    align-items: center;   
    justify-content: center;

    text-align: center;
}

h1{
    margin-left: 15%;
    margin-top: 80px;
    text-align: center;
}

#thanks{
    position: fixed;
    bottom: 0;
    right: 0;

    width: 150px;
    height: 80px;

    background-color: purple;
    font-size: 16px;

    margin: 0;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    margin-left: 15%;
    padding-left: 4rem;
    width: 85%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: 1rem;
}

#container article{
    width: 300px;
  
 
     display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:flex-start;
  }

  footer{
    margin-left: 15%;
    text-align: center;
  }

/*
    The "jump menu" is positioned on the left, and spans the entire height of the page.

    The "header" (e.g. MyBlog and buttons) is always on the top of the page, and they are unaffected by scrolling.
    The "header" is centered appropriately, i.e. it does not count space behind the jump menu when centering.
    The "thank you for visiting" block is always shown in the bottom-right of the page.
    The journal articles are organized neatly in the main area of the page.
    If the window resizes, the journal articles will be reorganized.

HINTS:

    Each journal article should have a fixed width, such as 300px.
    The width of the jump menu affects the width of the header; it is possible to use percentage as a unit (e.g. 15%)
*/